<div class="w-full relative">
  <div class="text-center bg-blue fixed top-0 left-0 right-0">
    <h1 class="font-bold text-4xl text-white">New Group</h1>
  </div>

  <div id="entities" class="fixed left-4 top-2">
    <%= link_to image_tag("arrow.png", class:"max-h-6"), user_groups_path(current_user) %>
  </div>

  <div class="mt-8 bg-white">
    <%= render "form", group: @group %>
  </div>
</div>
