<div class="">
  <div class="pt-20 mb-20">
    <%= image_tag("app_logo.png", :class => "mx-auto max-h-60") %>
  </div>


  <div class="flex flex-row items-center justify-center w-full py-2 mb-2 text-center bg-blue">
    <%= link_to "Log In", new_user_session_path, class:"w-full bg-blue-600 text-white block font-medium" %>
  </div>
  <div class="flex flex-row items-center justify-center w-full py-2 text-center bg-blue">
    <%= link_to "Sign up", new_user_registration_path, class:"w-full bg-blue-600 text-white block font-medium" %>
  </div>
</div>
